{% extends "main/base.html" %}
{% load static %}
    
{% block content %}
<div class="w-full p-4 pt-8">
  <div class="container mx-auto max-w-100vw md:max-w-[90vw] xl:max-w-6xl flex flex-col gap-12 items-center">
    <div class="font-bold text-4xl text-center w-full">Ward Announcements</div>
    {% for announcement in announcements %}
    <div class="prose lg:prose-xl prose-{{ theme_color }} prose-a:text-blue-500 w-full">
      {{ announcement|safe }}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}