{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ ward_name }}{% endblock %}</title>
    <link href="{% static 'main/dist.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}" />
    <meta name="theme-color" content="#eaddd7" />
  </head>
  <body class="bg-{{ theme_color }}-50">

    <div class="bg-{{ theme_color }}-200 w-full px-4">
      <div class="container mx-auto max-w-6xl h-full flex flex-row items-center justify-between gap-4 md:max-w-[90vw]">
        <div class="h-20 py-1">
          <a class="" href="{% url 'index' %}">
            {% if logo %}
            <img class="object-scale-down max-h-full m-auto" src="{% static logo %}" alt="Logo" />
            {% endif %}
          </a>
        </div>
        <div class="hidden sm:flex flex-row items-center gap-4">
          <a class="hover:text-{{ theme_color }}-800 {% if request.path == '/' %}text-{{ theme_color }}-800 italic{% endif %}" href="{% url 'index' %}">Sacrament Program</a>
          <a class="hover:text-{{ theme_color }}-800 {% if request.path == '/announcements' %}text-{{ theme_color }}-800 italic{% endif %}" href="{% url 'announcements' %}">Announcements</a>
          <a class="hover:text-{{ theme_color }}-800 {% if request.path == '/contacts-resources' %}text-{{ theme_color }}-800 italic{% endif %}" href="{% url 'contacts-resources' %}">Contacts/Resources</a>
        </div>
        <div class="relative flex sm:hidden">
          <input type="checkbox" id="nav-input" class="peer hidden absolute">
          <label for="nav-input">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </div>
          </label>
          <div id="nav-dropdown" class="invisible peer-checked:visible flex absolute right-0 top-8 bg-{{ theme_color }}-600 text-{{ theme_color }}-50 p-4 w-max rounded-xl max-h-0 overflow-hidden peer-checked:max-h-48 transition-[max-height,_padding,_visibility]">
            <div class="flex flex-col gap-6">
              <a class="hover:text-{{ theme_color }}-100 {% if request.path == '/' %}text-{{ theme_color }}-100 italic{% endif %}" href="{% url 'index' %}">Sacrament Program</a>
              <a class="hover:text-{{ theme_color }}-100 {% if request.path == '/announcements' %}text-{{ theme_color }}-100 italic{% endif %}" href="{% url 'announcements' %}">Announcements</a>
              <a class="hover:text-{{ theme_color }}-100 {% if request.path == '/contacts-resources' %}text-{{ theme_color }}-100 italic{% endif %}" href="{% url 'contacts-resources' %}">Contacts/Resources</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <div class="bg-{{ theme_color }}-800 w-full py-6 px-4">
      <div class="w-full flex flex-row items-center justify-center gap-4">
        <span class="text-{{ theme_color }}-50">
          Copyright &copy; 2022 <a class="underline underline-offset-2" href="https://github.com/DeeeeLAN/wardbulletin"><span class="font-bold">wardbulletin</span></a> under MIT License
        </span>
      </div>
    </div>


  </body>
</html>

{% comment %} 
Add tailwind colors used in the theme here so the dist.css picks them up properly
bg-slate-50
bg-slate-200
bg-slate-400
bg-slate-600
bg-slate-800
text-slate-50
text-slate-100
text-slate-800
text-slate-900
border-slate-400
border-l-slate-400
border-x-slate-400
bg-gray-50
bg-gray-200
bg-gray-400
bg-gray-600
bg-gray-800
text-gray-50
text-gray-100
text-gray-800
text-gray-900
border-gray-400
border-l-gray-400
border-x-gray-400
bg-zinc-50
bg-zinc-200
bg-zinc-400
bg-zinc-600
bg-zinc-800
text-zinc-50
text-zinc-100
text-zinc-800
text-zinc-900
border-zinc-400
border-l-zinc-400
border-x-zinc-400
bg-neutral-50
bg-neutral-200
bg-neutral-400
bg-neutral-600
bg-neutral-800
text-neutral-50
text-neutral-100
text-neutral-800
text-neutral-900
border-neutral-400
border-l-neutral-400
border-x-neutral-400
bg-stone-50
bg-stone-200
bg-stone-400
bg-stone-600
bg-stone-800
text-stone-50
text-stone-100
text-stone-800
text-stone-900
border-stone-400
border-l-stone-400
border-x-stone-400
bg-brown-50
bg-brown-200
bg-brown-400
bg-brown-600
bg-brown-800
text-brown-50
text-brown-100
text-brown-800
text-brown-900
border-brown-400
border-l-brown-400
border-x-brown-400
bg-red-50
bg-red-200
bg-red-400
bg-red-600
bg-red-800
text-red-50
text-red-100
text-red-800
text-red-900
border-red-400
border-l-red-400
border-x-red-400
bg-orange-50
bg-orange-200
bg-orange-400
bg-orange-600
bg-orange-800
text-orange-50
text-orange-100
text-orange-800
text-orange-900
border-orange-400
border-l-orange-400
border-x-orange-400
bg-amber-50
bg-amber-200
bg-amber-400
bg-amber-600
bg-amber-800
text-amber-50
text-amber-100
text-amber-800
text-amber-900
border-amber-400
border-l-amber-400
border-x-amber-400
bg-yellow-50
bg-yellow-200
bg-yellow-400
bg-yellow-600
bg-yellow-800
text-yellow-50
text-yellow-100
text-yellow-800
text-yellow-900
border-yellow-400
border-l-yellow-400
border-x-yellow-400
bg-lime-50
bg-lime-200
bg-lime-400
bg-lime-600
bg-lime-800
text-lime-50
text-lime-100
text-lime-800
text-lime-900
border-lime-400
border-l-lime-400
border-x-lime-400
bg-green-50
bg-green-200
bg-green-400
bg-green-600
bg-green-800
text-green-50
text-green-100
text-green-800
text-green-900
border-green-400
border-l-green-400
border-x-green-400
bg-emerald-50
bg-emerald-200
bg-emerald-400
bg-emerald-600
bg-emerald-800
text-emerald-50
text-emerald-100
text-emerald-800
text-emerald-900
border-emerald-400
border-l-emerald-400
border-x-emerald-400
bg-teal-50
bg-teal-200
bg-teal-400
bg-teal-600
bg-teal-800
text-teal-50
text-teal-100
text-teal-800
text-teal-900
border-teal-400
border-l-teal-400
border-x-teal-400
bg-cyan-50
bg-cyan-200
bg-cyan-400
bg-cyan-600
bg-cyan-800
text-cyan-50
text-cyan-100
text-cyan-800
text-cyan-900
border-cyan-400
border-l-cyan-400
border-x-cyan-400
bg-sky-50
bg-sky-200
bg-sky-400
bg-sky-600
bg-sky-800
text-sky-50
text-sky-100
text-sky-800
text-sky-900
border-sky-400
border-l-sky-400
border-x-sky-400
bg-blue-50
bg-blue-200
bg-blue-400
bg-blue-600
bg-blue-800
text-blue-50
text-blue-100
text-blue-800
text-blue-900
border-blue-400
border-l-blue-400
border-x-blue-400
bg-indigo-50
bg-indigo-200
bg-indigo-400
bg-indigo-600
bg-indigo-800
text-indigo-50
text-indigo-100
text-indigo-800
text-indigo-900
border-indigo-400
border-l-indigo-400
border-x-indigo-400
bg-violet-50
bg-violet-200
bg-violet-400
bg-violet-600
bg-violet-800
text-violet-50
text-violet-100
text-violet-800
text-violet-900
border-violet-400
border-l-violet-400
border-x-violet-400
bg-purple-50
bg-purple-200
bg-purple-400
bg-purple-600
bg-purple-800
text-purple-50
text-purple-100
text-purple-800
text-purple-900
border-purple-400
border-l-purple-400
border-x-purple-400
bg-fuchsia-50
bg-fuchsia-200
bg-fuchsia-400
bg-fuchsia-600
bg-fuchsia-800
text-fuchsia-50
text-fuchsia-100
text-fuchsia-800
text-fuchsia-900
border-fuchsia-400
border-l-fuchsia-400
border-x-fuchsia-400
bg-pink-50
bg-pink-200
bg-pink-400
bg-pink-600
bg-pink-800
text-pink-50
text-pink-100
text-pink-800
text-pink-900
border-pink-400
border-l-pink-400
border-x-pink-400
bg-rose-50
bg-rose-200
bg-rose-400
bg-rose-600
bg-rose-800
text-rose-50
text-rose-100
text-rose-800
text-rose-900
border-rose-400
border-l-rose-400
border-x-rose-400
{% endcomment %}