

{% if table %}
<div class="font-bold text-3xl text-start w-full">{{ table.heading }}</div>
<div class="prose lg:prose-xl prose-{{ theme_color }} prose-a:text-blue-500 w-full">
  {% if not table.markdown %}
  <table class="table-auto">
    <thead>
      <tr>
        <th>Calling</th>
        <th>Name (email)</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in table.contacts %}
      <tr>
        <td>{{ contact.calling|safe }}</td>
        <td>{% if contact.email %}<a href="mailto:{{ contact.email }}">{% endif %}{{ contact.name|safe }}{% if contact.email %}</a>{% endif %}</td>
        <td>{% if contact.phone %}<a href="tel:{{ contact.phone }}">{% endif %}{{ contact.phone|safe }}{% if contact.phone %}</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  {{ table.markdown|safe }}
  {% endif %}
</div>
<div class="italic">{{ table.additional_notes|safe }}</div>
{% endif %}