{% extends "main/base.html" %}
{% load static %}

{% block title %}Bulletin | {{ ward_name }}{% endblock %}
    
{% block content %}
<div class="w-full p-4">
  <div class="container mx-auto max-w-100vw md:max-w-[90vw] xl:max-w-6xl flex flex-col gap-6 items-center prose lg:prose-xl prose-{{ theme_color }} prose-a:text-blue-500">
    <div class="flex flex-col sm:flex-row justify-around">
      {% if image %}
      <div class="flex flex-col sm:w-[45%]">
        <div class="bg-{{ theme_color }}-400 w-full pl-4 rounded-lg text-{{ theme_color }}-900">{{image.name}}</div>
        <div class="not-prose">
          <img class="rounded-lg object-scale-down my-4" src="{% static image.path %}" alt="{{ image.name }}" />
        </div>
      </div>
      {% endif %}
      {% if quote %}
      <div class="sm:w-[45%] flex flex-col justify-center">
        <div class="flex flex-col gap-4 items-end pl-4 py-2 border-l-8 border-l-{{ theme_color }}-400 rounded-2xl">
          <div class="italic font-serif">{{quote.quote}}</div>
          {% if quote.url %}
          <div class="w-max italic font-serif">&mdash;&nbsp;<a class="text-blue-500 underline underline-offset-2" href="{{ quote.url }}">{{quote.source}}</a></div>
          {% else %}
          <div class="w-max italic font-serif">&mdash;&nbsp;{{quote.source}}</div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="font-bold text-2xl text-center">{{ ward_name }} Sacrament Meeting</div>
    {% if meeting_date and first_hour_meeting_time %}
    <div class="font-bold text-xl text-center">{{ meeting_date }} &mdash; {{ first_hour_meeting_time }} Meeting Time</div>
    {% elif meeting_date %}
    <div class="font-bold text-xl text-center">{{ meeting_date }}</div>
    {% elif first_hour_meeting_time %}
    <div class="font-bold text-xl text-center">{{ first_hour_meeting_time }} Meeting Time</div>
    {% endif %}
    {% include "main/entry_list.html" with entry_list=sacrament_meeting_entries %}
    <div class="w-full border-b border-{{ theme_color }}-400"></div>
    {% if second_hour_meeting_time %}
    <div class="font-bold text-2xl text-center">Second Hour {{ second_hour_meeting_time }}</div>
    {% else %}
    <div class="font-bold text-2xl text-center">Second Hour</div>
    {% endif %}
    <div class="font-bold text-xl text-center">Sunday School</div>
    <span class="">1<sup>st</sup>, 3<sup>rd</sup> & 5<sup>th</sup> Sundays</span>
    {% include "main/entry_list.html" with entry_list=sunday_school_entries %}
    <div class="font-bold text-xl text-center">Relief Society and Priesthood</div>
    <span class="">2<sup>nd</sup> & 4<sup>th</sup> Sundays</span>
    {% include "main/entry_list.html" with entry_list=relief_society_and_priesthood_entries %}
    <div class="font-bold text-xl text-center">Additional Information</div>
    <div class="w-full flex flex-col gap-3">
      <div class="w-full flex flex-row justify-between">
        <div class="max-w-[50%]">Ward Announcements and Information</div>
        <a class="text-blue-500 underline underline-offset-2 max-w-[50%] text-right" href="/announcements">Announcements</a>
      </div>
      <div class="w-full flex flex-row justify-between">
        <div class="max-w-[50%]">Ward Council Members and Resources</div>
        <a class="text-blue-500 underline underline-offset-2 max-w-[50%] text-right" href="/contacts-resources">Countacts/Resources</a>
      </div>
      <div class="w-full flex flex-row justify-between">
        <div class="max-w-[50%]">Subscribe to the Ward Midweek Email List</div>
        <a class="text-blue-500 underline underline-offset-2 max-w-[50%] text-right" href="mailto:wardbulletin@gmail.com?subject=Subscribe to the Ward Midweek Email List">Subscribe to Midweek Emails</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}